.slider {
    height: 70vh;
    width: 100% !important;
    overflow: hidden;
    margin: auto;
}

.awssld__content>img {
    height: auto!important;
}

.description {
    width: 61%;
    margin: 15px auto;
    text-align: left;
    font-size: 20px;
    color: #efebcb;
}

.listTags {
    display: flex;
    width: 250px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    /* padding: 15px 0 0; */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.listTags li {
    list-style: none;
    margin-top: 10px;
}

.listTags a {
    color: #1f2235;
    background: rgba(255, 203, 132, 0.9);
    padding: 3px;
}

.btnMore {
    color: rgba(255, 203, 132, 0.9);
}

.btnContainer:hover {
    color: #1f2235;
    border: 1px solid #ddd;
    background-color: rgba(255, 203, 132, 0.9);
}

.btnContainer:hover .btnMore {
    color: #1f2235;
}

.containerProject p {
    line-height: 36px;
    font-family: 'Archivo', sans-serif;
}

.title {
    font-size: 35px;
    margin-top: 12px;
    text-align: center;
    color: white;
}

.btnContainer {
    width: 350px;
    height: 57px;
    border-radius: 4px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
    white-space: normal;
    vertical-align: top;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .4s ease;
    background-color: #1f2235;
    border: 1px solid rgba(255, 203, 132, 0.9);
    color: rgba(255, 203, 132, 0.9);
    text-transform: uppercase;
}

.btnContainer a {
    text-decoration: none;
}

.devices p {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    width: 50px;
}

.devices i {
    color: rgba(255, 203, 132, 0.9);
    font-size: 25px;
    margin: 8px;
}

.devicesProj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: auto;
}

@media (max-width: 900px) {
    .awssld__content>img {
        width: 100% !important;
        height: 100% !important;
    }
    .slider {
        height: auto;
        max-height: 200px;
        overflow: hidden;
    }
    .containerProject {
        margin-top: 30px;
    }
    .description {
        width: 80%;
        line-height: 32px;
        margin: 15px auto;
        text-align: justify;
        font-size: 17px;
        color: #efebcb;
    }
    .btnContainer {
        width: 85%;
    }
}