.pannel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 800ms ease-in;
    -webkit-transition: all 800ms ease-in;
}

.container {
    display: flex;
    width: 100%;
}

.pannel button {
    position: relative;
    opacity: 0;
    top: 50%;
}

.pannelActive button {
    opacity: 1;
    transition: opacity 0.8s ease 1.3s;
}

.pannel h3 {
    font-size: 24px;
    position: relative;
    text-align: center;
    max-width: 50%;
    width: auto;
    margin: 0 auto;
    opacity: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1F2235;
    background-color: #1F2235;
}

.pannelActive {
    flex: 5;
}

.pannelActive h3 {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.7s;
}

.input-custom {
    padding: 2px;
    background-color: rgb(238, 238, 238);
}

.h1 {
    font-size: 3rem;
    padding: 1em;
}