.container {
    display: flex;
    width: 100%;
}

.container nav {
    width: 220px;
    min-width: 220px;
    border-right: 1px solid #393d55;
}

.container main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 220px);
}

.container.small {}