@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Bayon', 'Roboto';
}

body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);
  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #D5DCF9;
  --color-primary-300: #646694;
  --color-primary-400: #4B469B;
  --color-primary-500: #474876;
  --color-primary-600: #333556;
  --color-primary-700: #1F2235;
  --color-secondary-700: #EBB876;
  --color-secondary-100: #F2D1A6;
  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;
  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;
  margin: 0;
  background-color: var( --color-primary-700);
  color: var( --color-primary-200);
  overflow-X: hidden;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #D5DCF9;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Bayon', 'Roboto';
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var( --color-secondary-700);
  transform-origin: left;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform-origin: right;
  background: var( --color-primary-200);
}

.container-lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

.text-home {
  padding: 15px 25px;
  width: 60%;
  margin: auto;
  text-align: justify;
  line-height: 34px;
  font-size: 21px;
  color: #f8d7ab;
  font-style: italic;
  height: 80vh;
}

.text-home h2 {
  margin-top: var( --size-13);
  font-size: var( --size-16);
  line-height: var(--size-16);
  font-style: normal;
}

.text-home blockquote {
  margin: 5rem;
}